{% extends 'base.html' %} {% block title %}
<title>Pokédex</title>
{% endblock title %} {% block content %}
<body>
  <form action="/" method="GET">
    {{ form.as_p }}
    <button>Search Type</button>
  </form>
  {% if filter %} 
  <ul class="listofpoke">
  {% for poke in type_list %}
  {% for pokemon, link in Pokemon_links.items %} 
  {% if poke == pokemon %}
  <a href="entry/{{pokemon}}">
    <div class="card2">
      <h1>{{pokemon}}</h1>
      <div class="pokepic">
        <img src="{{link}}" />
      </div>  
    </div>
  </a>
      {% endif %} {% endfor %} {% endfor %}
  {% else %}
  <ul class="listofpoke">
    {% for poke in Created_mon %}
      <a href="user-entry/{{poke.name}}">
        <div class="card2">
          <h1>{{poke.name}}</h1>
          <div class="pokepic">
            <img src="https://i.pinimg.com/originals/95/d5/cd/95d5cded00f3a3e8a98fb1eed568aa9f.png">
          </div>
        </div>
      </a>c
    {% endfor %}
    {% for poke, link in Pokemon_links.items %}
    <a href="entry/{{poke}}">
      <div class="card2">
        <h1>{{poke}}</h1>
        <div class="pokepic">
          <img src="{{link}}" />
        </div>
      </div>
    </a>
    {% endfor %}
  </ul>
  {% endif %}
</body>
{% endblock content %}
