{% extends 'base.html' %} {% block title %}
<h1>{{ pokemon_name }}</h1>
{% endblock title %} {% block content %}
<body>
   <ul>
      {% for poke, data in Pokemon.items %} {% if poke == pokemon %}
      <h1>{{data.name}}</h1>
      <br />
      <p>{{data.height}}</p>
      <br />
      <p>{{data.weight}}</p>
      <br />
      <p>{{data.description}}</p>
      <br />
      <p>{{data.region}}</p>
      <br />
      <p>{{data.types}}</p>
      {% endif %} {% endfor %}
    </ul>
</body>
{% endblock content %}
